mixin footer
  footer.footer
    .footer__wrapper
      
      .footer__left
        .footer__text.footer__text--copyright Все права защищены © Лаборатория 3D-моделирвоания МАИ

        .footer__text.footer__text--address Московский Авиационный Институт <br> 125993, Российская Федерация, г. Москва, Волоколамское шоссе, дом 4, А-80

        .footer__text.footer__text--phone Телефон: +7 (499) 454-99-79

        .footer__text.footer__text--email Эл. почта: additive@mai.ru
      
      .footer__right
        .footer-social
          a(href="#" title="").footer-social__item.footer-social__item--fb
          a(href="#" title="").footer-social__item.footer-social__item--yb
          a(href="#" title="").footer-social__item.footer-social__item--vk
        .footer__logo
        .footer__mai
