.top {
  position: absolute;
  z-index: 99;
  right: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 40px 50px;
  @media screen and (max-width: 960px) {
    padding: 30px 40px;
  }
  @media screen and (max-width: 768px) {
    padding: 10px 15px;
  }
  &__wrapper {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }
  &__right {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }
  &__contact {
    @media screen and (max-width: 960px) {
      margin-right: 40px;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.top-logos {
  display: flex;

  align-items: center;
  justify-content: flex-start;
  &__item {
    text-indent: -9999px;
    &--mai {
      margin-right: 30px;

      @include bg($mai-white);
      @media screen and (max-width: 768px) {
        margin-right: 15px;
      }
    }
    &--printeo {
      @include bg($logo-white);
    }
  }
}
