mixin top
  .top
    .top__wrapper
      .top-logos
        .top-logos__item.top-logos__item--mai МАИ
        .top-logos__item.top-logos__item--printeo 3DPrinteo
      .top__right
        +top-menu
        a(href="#" title="").button.button--white.top__contact Связаться