mixin technologies
  .technologies
    .technologies__wrapper
      .title ТЕХНОЛОГИИ

      .technologies-modules
        .technologies-modules-item
          a(href="#" title="").technologies-modules-item__link Отверждения Ултрафиолетом Фотополимерных Композиций
          .technologies-modules-item__text Существует много видов фотополимерных композиций, поэтому спектр применения прототипов, полученных по SLA-технологии, очень широк: макеты и масштабные модели для аэро- и гидродинамических испытаний, литейные и мастер-модели, дизайн-модели и прототипы, функциональные модели и т. д.

        .technologies-modules-item
          a(href="#" title="").technologies-modules-item__link СПЕКАНИЕ И СПЛАВЛЕНИЕ ПОРОШКОВЫХ МАТЕРИАЛОВ
          .technologies-modules-item__text Существует много видов фотополимерных композиций, поэтому спектр применения прототипов, полученных по SLA-технологии, очень широк: макеты и масштабные модели для аэро- и гидродинамических испытаний, литейные и мастер-модели, дизайн-модели и прототипы, функциональные модели и т. д.

        .technologies-modules-item
          a(href="#" title="").technologies-modules-item__link ПОСЛОЙНОЕ НАНЕСЕНИЕ РАСПЛАВЛЕННОЙ ПОЛИМЕРНОЙ НИТИ
          .technologies-modules-item__text Существует много видов фотополимерных композиций, поэтому спектр применения прототипов, полученных по SLA-технологии, очень широк: макеты и масштабные модели для аэро- и гидродинамических испытаний, литейные и мастер-модели, дизайн-модели и прототипы, функциональные модели и т. д.

        .technologies-modules-item.technologies-modules-item--block
          .technologies-modules-item__title.title.title--gradiented
            span Чистая 
            span энергия
          .technologies-modules-item__more 
            a(href="#" title="") Подробнее