.technologies {
  padding-bottom: 92px;

  background: url(%=static=%general/fractal.png) no-repeat center;
  background-size: cover;
  @media screen and (max-width: 1024px) {
    padding-bottom: 30px;
  }
  &__wrapper {
    padding-top: 60px;
    padding-right: 120px;
    padding-left: 120px;

    @extend .wrapper;
    @media screen and (max-width: 1024px) {
      padding-right: 60px;
      padding-left: 60px;
    }
    @media screen and (max-width: 960px) {
      padding-right: 50px;
      padding-left: 50px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 0;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.technologies-modules {
  display: flex;

  margin-top: 166px;

  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    margin-top: 90px;
  }
  @media screen and (max-width: 960px) {
    margin-top: 50px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 36px;
  }
}

.technologies-modules-item {
  width: 530px;
  margin-bottom: 138px;
  @media screen and (max-width: 1360px) {
    width: 500px;
  }
  @media screen and (max-width: 1024px) {
    width: 48%;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
    margin-bottom: 38px;
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;

    color: #0182f2;

    font-family: $GothamPro-Bold;
    font-size: 24px;
    line-height: 28px;

    @include transition;
    &:hover {
      @media screen and (min-width: 1024px) {
        color: $darkBlue;
      }
    }
    @media screen and (max-width: 1024px) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__text {
    margin-top: 15px;

    color: #5c5c5c;

    font-size: 18px;
    line-height: 24px;
    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  // стиллизация блока в технологиях
  &--block {
    position: relative;

    width: 490px;
    height: 233px;

    border-radius: 8px;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(#000, .1);
    @media screen and (max-width: 1024px) {
      width: 45%;

      box-shadow: 0 0 10px rgba(#000, .1);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  &__title {
    max-width: 174px;
    margin: auto;
    padding-top: 49px;

    text-align: center;

    font-size: 36px;
  }
  &__more {
    position: absolute;
    right: 0;
    bottom: 35px;
    left: 0;

    margin: auto;

    text-align: center;
    a {
      position: relative;

      text-decoration: none;
      text-transform: uppercase;

      color: #000;

      font-family: $GothamPro-Bold;
      font-size: 14px;
      line-height: 18px;

      @include transition;
      &:after {
        position: absolute;
        top: 0;
        right: -25px;

        display: block;

        content: "";

        @include transition;
        @include bg($arrow-right-black);
      }
      &:hover {
        color: #5c5c5c;
      }
    }
  }
}
