mixin school
  .school
    .school__wrapper
      .school__title.title.title--gradiented 
        span 3D-школа

      .school-block
        .school-block__content
          .school-block__title ОБУЧЕНИЕ И ПОВЫШЕНИЕ КВАЛИФИКАЦИИ
          .school-block__text В недалеком прошлом, лет 10–15 назад, аддитивные технологии использовались преимущественно в традиционно технологически продвинутых отраслях – автомобильной, авиационной и аэрокосмической...
        .school-block__mask
        .school-block__img
          img(src="%=static=%images/content/school.jpg" alt="")

      .school-block__button
        a(href="#" title="").button.button--blue Подробнее