mixin news
  .news
    .news__mask
    .news__wrapper
      .news__title.title.title--white НОВОСТИ
      
      .news-block
        .news-block__content
          .news-block__title НАУЧНАЯ КОНФЕРЕНЦИЯ
          .news-block__text В недалеком прошлом, лет 10–15 назад, аддитивные технологии использовались преимущественно в традиционно технологически продвинутых отраслях – автомобильной, авиационной и аэрокосмической...
          a(href="#" title="").news-block__more ПОДРОБНЕЕ
        .news-block__img
          .news-block__overlay
          img(src="%=static=%images/content/school.jpg" alt="")

      .news-block.news-block--right
        .news-block__content
          .news-block__title НАУЧНАЯ КОНФЕРЕНЦИЯ
          .news-block__text В недалеком прошлом, лет 10–15 назад, аддитивные технологии использовались преимущественно в традиционно технологически продвинутых отраслях – автомобильной, авиационной и аэрокосмической...
          a(href="#" title="").news-block__more ПОДРОБНЕЕ
        .news-block__img
          .news-block__overlay
          img(src="%=static=%images/content/school.jpg" alt="")
