mixin header
  header.header
    .header__wrapper
      .header__title Лаборатория <br> 3d-моделирования
      .header__textground We power seamless <br>communication between<br> people and things
      .header__play.js-header-play
    .header__fractal.js-header-background