.services {
  padding-top: 190px;
  padding-bottom: 120px;
  @media screen and (max-width: 1024px) {
    padding-bottom: 0;
  }
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
  &__wrapper {
    padding-right: 120px;
    padding-left: 120px;

    @extend .wrapper;
    @media screen and (max-width: 1024px) {
      padding-right: 60px;
      padding-left: 60px;
    }
    @media screen and (max-width: 960px) {
      padding-right: 40px;
      padding-left: 40px;
    }
    @media screen and (max-width: 768px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  &__title {
    margin-bottom: 86px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 36px;
    }
  }
  &__text {
    padding-right: 172px;
    padding-left: 172px;

    text-align: center;

    color: #5c5c5c;

    font-family: $GothamPro-Light;
    font-size: 24px;
    line-height: 30px;
    @media screen and (max-width: 1360px) {
      padding-right: 82px;
      padding-left: 82px;
    }
    @media screen and (max-width: 768px) {
      padding-right: 20px;
      padding-left: 20px;

      font-size: 18px;
      line-height: 24px;
    }
  }
}

.services-modules {
  display: flex;

  margin-top: 165px;

  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    margin-top: 95px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 55px;
  }
}

.services-modules-item {
  position: relative;

  overflow: hidden;

  width: 340px;
  height: 170px;
  margin-bottom: 60px;

  border-radius: 8px;
  @media screen and (max-width: 1024px) {
    width: 30%;
  }
  @media screen and (max-width: 960px) {
    width: 340px;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
    margin: 0 auto 30px;
  }
  &__mask {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;

    opacity: .8;
    background: linear-gradient(to right, $darkBlue, $lightBlue);
  }
  &__text {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: 70%;

    transform: translate(-50%,-50%);
    text-align: center;

    color: #fff;

    font-family: $GothamPro-Bold;
    font-size: 18px;
    line-height: 22px;
    @media screen and (max-width: 1024px) {
      width: 90%;
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
