mixin services
  .services
    .services__wrapper
      .services__title.title.title--gradiented 
        span Услуги
      .services__text Аддитивные технологии или технологии послойного синтеза, сегодня одно из наиболее динамично развивающихся направлений цифрового производства. Они позволяют на порядок ускорить НИОКР и решение задач подготовки производства, а в ряде случаев уже активно применяются и для производства готовой продукции.

      .services-modules
        .services-modules-item
          .services-modules-item__text 3D-МОДЕЛИРОВАНИЕ
          .services-modules-item__mask
          .services-modules-item__img
            img(src="%=static=%images/content/services-produkt.jpg" alt="")

        .services-modules-item
          .services-modules-item__text 3D-СКАНИРОВАНИЕ
          .services-modules-item__mask
          .services-modules-item__img
            img(src="%=static=%images/content/services-product2.jpg" alt="")

        .services-modules-item
          .services-modules-item__text ПРОТОТИПИРОВАНИЕ
          .services-modules-item__mask
          .services-modules-item__img
            img(src="%=static=%images/content/services-produkt.jpg" alt="")

        .services-modules-item
          .services-modules-item__text ПРОМЫШЛЕННЫЙ ДИЗАЙН
          .services-modules-item__mask
          .services-modules-item__img
            img(src="%=static=%images/content/services-produkt.jpg" alt="")

        .services-modules-item
          .services-modules-item__text 3D-ПЕЧАТЬ
          .services-modules-item__mask
          .services-modules-item__img
            img(src="%=static=%images/content/services-product2.jpg" alt="")

        .services-modules-item
          .services-modules-item__text МЕЛКОСЕРИЙНОЕ ПРОИЗВОДСТВО
          .services-modules-item__mask
          .services-modules-item__img
            img(src="%=static=%images/content/services-product2.jpg" alt="")
