.top-menu {
  @media screen and (max-width: 960px) {
    order: 2;
  }
  &__mobile {
    position: relative;

    display: none;

    width: 35px;
    height: 35px;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;

      content: "";
      transform: translate(-50%, -50%);

      @include bg($menu);
    }
    &.active {
      background-color: #fff;
      &:before {
        @include bg($close);
      }
    }
    @media screen and (max-width: 960px) {
      display: block;
    }
  }
  &__list {
    display: flex;

    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 960px) {
      position: absolute;
      top: 55px;
      right: 15px;

      display: none;

      padding: 20px;

      background: #fff;
      box-shadow: 0 10px 10px rgba(#000, .1);
    }
  }
  &__item {
    margin-right: 27px;

    text-decoration: none;
    text-transform: uppercase;

    color: rgba(#fff, .7);

    font-size: 14px;
    font-weight: 600;

    @include transition;
    &:last-child {
      margin-right: 34px;
    }
    @media screen and (min-width: 1024px) {
      &:hover {
        color: #fff;
      }
    }
    @media screen and (max-width: 960px) {
      display: block;

      color: $lightBlue;
    }
  }
}
