mixin top-menu
  .top-menu
    .top-menu__mobile.js-top-menu-trigger
    .top-menu__list.js-top-menu-open
      a(href="#" title="Услуги").top-menu__item Услуги
      a(href="#" title="Технологии").top-menu__item Технологии
      a(href="#" title="3D школа").top-menu__item 3D школа
      a(href="#" title="Новости").top-menu__item Новости
      a(href="#" title="Контакты").top-menu__item Контакты